honeybee-core>=1.58.46
honeybee-energy>=1.108.7
honeybee-ph>=1.28.15
honeybee-schema>=1.58.3
honeybee-standards>=2.0.6
ladybug-core>=0.43.4
ladybug-geometry>=1.33.0
ladybug-rhino>=1.42.15
PH-units>=1.5.11
PHX>=1.47.6
pydantic>=1.10.18
rich>=13.8.1
xlwings>=0.32.2
